<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	  
  </system.web>
	<connectionStrings>
		<add name="HotelDB"
         connectionString="Data Source=LAPTOP-T1GQ836B;Initial Catalog=Hotel Management;Integrated Security=True"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="102400" />
		<!-- 100 MB -->
	</system.web>
</configuration>